html {
    background-color: #f1faee;
}


body {
    margin: 3rem auto;
    margin-top: 10px;
    max-width: 600px;
    padding: 10px;
    padding-top: 0px;
}


a {
    text-shadow: none;
    color: #1d3557;
    text-decoration: none;
    background-image: none;
}


a:hover {
    font-weight: bolder;
}


h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    color: #1d3557;
}


#top-panel {
    position: relative;
    width: 100%;
    border-top: 3px solid #1d3557;
    border-bottom: 3px solid #1d3557;
    padding: 10px;
    background-color: aliceblue;
    margin-bottom: 10px;
}


#links {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
}


@media (max-width: 425px) {
    #navigation-links {
        display: none;
    }
}


#div-about-me {
    border: 3px solid #1d3557;
    background-color: aliceblue;
    border-radius: 20px;
    padding: 10px;
}


@media (max-width: 500px) {
    #mypicture {
        display: none;
    }
}


#mypicture {
    width: 35%;
    float: right;
    padding: 0px;
    margin-left: 20px;
    margin-bottom: 0px;
}


#description {
    display: inline;
    text-align: justify;
}

